.wrapper {
  width: 400px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  padding: 20px 20px 30px;
}

.in-total {
  font-size: 24px;
  font-weight: 900;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-bottom: 30px;
}

.place-button {
  background: black;
  color: white;
  border: 0;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.place-button:hover {
  opacity: 0.8;
}

.discount {
  background: #c7fdc7;
  color: #0b840b;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 20px;
}

.discount span {
  display: block;
}

.discount button {
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  font-size: 11px;
}

.error {
  display: block;
  margin-bottom: 25px;
  color: red;
  font-size: 14px;
  font-weight: 700;
  margin-top: -10px;
}

.order-finished {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: white;
  font-weight: 700;
  font-size: 26px;
}
