.wrapper {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  align-items: center;
  background-color: #f5f6f5;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.wrapper:not(:last-child) {
  margin-bottom: 12px;
}

.image {
  max-width: 110px;
  padding: 10px;
}

.content {
  display: grid;
  grid-template-areas: 'title title' 'quantity price';
}
.title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: title;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.title span {
  font-weight: 300;
  color: #8a8a8a;
  font-size: 12px;
}

.quantity {
  grid-area: quantity;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
}

.quantity button {
  width: 25px;
  height: 25px;
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  cursor: pointer;
  font-weight: 600;
  color: #7d7d7d;
}

.quantity button:disabled {
  cursor: not-allowed;
  background: #e6e6e696;
  color: #d8d8d8;
}

.quantity button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.quantity span {
  padding: 0 20px;
}

.price {
  grid-area: price;
  font-weight: 600;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.discount {
  color: #c3c3c3;
  font-weight: 400;
  font-size: 13px;
  display: block;
  text-decoration: line-through;
  position: absolute;
  right: 0;
  bottom: 100%;
}

.remove-button {
  position: absolute;
  border: none;
  background: white;
  border-radius: 999px;
  color: #c3c3c3;
  font-size: 10px;
  width: 20px;
  height: 20px;
  top: -3px;
  right: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.remove-button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}
