@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ededee;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
